* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: palevioletred;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.Container {
    width: 80rem;
    height: 40rem;
    margin:3% 8%;
    border: 0.2rem solid dodgerblue;
       /* border-block-style: dashed dotted; */
    display: flex;
    flex-direction: column;
    position: relative;
}

/*  box-1 */
.box-1 {
    width: 4rem;
    height: 4rem;
    background-color: orangered;
    animation-name: task1;
    animation-duration: 6s;
    animation-delay: 3.7s;
    position: absolute;
    animation-iteration-count: 1;
}

@keyframes task1 {
    0% {

        top: 0rem;
        left: 0rem;


    }

    25% {

        top: 35.5rem;
        left: 0rem;

    }

    50% {

        top: 35.5rem;
        left: 75.5rem;


    }

    75% {

        left: 75.5rem;
        top: 0rem;

    }

    100% {

        left: 0rem;
        top: 0rem;
    }
}

/*  box-2 */
.box-2 {
    width: 4rem;
    height: 4rem;
    background-color: yellow;
    animation-name: task2;
    animation-duration: 6s;
    animation-delay: 3s;
    position: absolute;
    top: 4rem;
    animation-iteration-count: 1;
}

@keyframes task2 {
    0% {

        left: 0rem;
        top: 4rem;


    }

    20% {

        top: 35.5rem;
        left: 0rem;

    }

    40% {

        top: 35.5rem;
        left: 75.5rem;

    }

    60% {

        left: 75.5rem;
        top: 0rem;


    }

    80% {

        left: 0rem;
        top: 0rem;
    }

    100% {
        top: 4rem;
    }
}

/*  box-3 */
.box-3 {
    width: 4rem;
    height: 4rem;
    background-color: violet;
    animation-name: task3;
    animation-duration: 5s;
    animation-delay: 1.5s;
    position: absolute;
    top: 8rem;
    animation-iteration-count: 1;
}

@keyframes task3 {
    0% {

        left: 0rem;
        top: 8rem;

    }

    20% {

        top: 35.5rem;
        left: 0rem;

    }

    40% {

        top: 35.5rem;
        left: 75.5rem;


    }

    60% {

        left: 75.5rem;
        top: 0rem;


    }

    80% {

        left: 0rem;
        top: 0rem;
    }

    100% {
        top: 8rem;
    }
}

/*  box-4 */
.box-4 {
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 255, 128);
    animation-name: task4;
    animation-duration: 6s;
    position: absolute;
    top: 12rem;
    animation-iteration-count: 1;
}

@keyframes task4 {
    0% {

        left: 0rem;
        top: 12rem;

    }

    20% {

        top: 35.5rem;
        left: 0rem;

    }

    40% {

        top: 35.5rem;
        left: 75.5rem;

    }

    60% {

        left: 75.5rem;
        top: 0rem;


    }

    80% {
        left: 0rem;
        top: 0rem;
    }

    100% {
        top: 12rem;

    }
}