* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-area: one;
}

.item2 {
    grid-area: two;
}

.item3 {
    grid-area: three;
}

.item4 {
    grid-area: four;
}

.item5 {
    grid-area: five;
}

.item6 {
    grid-area: six;
}

.container {
    width: 80%;
    height: 80vh;
    border: 2px solid red;
    display: grid;
    grid-template-areas:
        'one one two two two two'
        'one one three three four four'
        'one one five five four four'
        'six six six six six six';
    grid-gap: 10px;
    background-color: coral;
    padding: 1rem;
    border-radius: 10px;
}

.container .item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    background-color: aquamarine;
    border: 2px solid black;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 600;
}